# Client
client/node_modules
client/dist

# Model
.idea
.cache
__pycache__
model/dataset/hooktheory
model/dataset/processed*
spotify_client_*
*.npy
*.pth
embedding*.json
log.txt
model/*.png
model/midi_out
model/wandb
/condition_json_out

#
/json_out
/midi_out

# Checkpoints
checkpoints